{{ define "main" }}
  <div class="media-grid">
    {{ range sort .Pages "Params.Release_Date" "desc" -}}
      {{ printf "<!-- %s -->" .Title | safeHTML }}
      <a href="{{ .Permalink }}">
      {{ if .Resources.Get "cover" -}}
        {{ $image := ((.Resources.Get "cover").Resize "x400 webp q90").Fill "300x400 center" }}
        <img class="media-cover" src="{{ $image.RelPermalink }}" loading="lazy" decoding="async" alt="{{ .Title }}"></img>
      {{- else -}} <b>{{ .Title }}</b> {{- end }}
      </a>
    {{ end -}}
  </div>
{{ end }}
