<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "head/meta" . }}
    {{ partial "head/resources" . }}
    {{ block "style" . }}{{ end }}
    {{ block "script" . }}{{ end }}
  </head>
  <body>
    <div class="content">
      <header>
        {{ block "header" . -}}
          {{ partial "header/title" . }}
        {{- end }}
	<hr/>
      </header>
      <main>
        {{ block "main" . -}}{{- end }}
      </main>
      <footer>
	<hr/>
        <small>
          {{ partial "footer/socials" . }}
          {{ partial "footer/copyright" . }}
          {{ partial "footer/source" . }}
          {{ partial "footer/update" . }}
        </small>
      </footer>
    </div>
  </body>
</html>
