{{ define "header" }}
	<h1 align="center" style="color: var(--accent-color); font-size: min(max(14vw, 2em), 4em);">{{ .Site.Title }}</h1>
{{ end }}

{{ define "main" -}}
        {{- if ( where .Site.RegularPages.ByTitle "Section" "posts" ) }}
        {{ "<!-- Recent posts -->" | safeHTML }}
        <section>
            <h2>Recent posts</h2>
            <nav>
                <ul>
                    {{ range (where .Site.RegularPages "Section" "posts") }}
                        <li><span>{{ .PublishDate | time.Format "2006-01-02" }}</span> - <a href="{{ .Permalink }}">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
            </nav>
        </section>
	<hr/>
        {{ end }}

        {{- if ( where .Site.RegularPages.ByTitle "Section" "projects" ) }}
        {{ "<!-- Projects -->" | safeHTML }}
        <section>
            <h2>Projects</h2>
            <nav>
                <ul>
                    {{- range (and (where .Site.RegularPages "Section" "projects") (where .Site.RegularPages ".Params.Deprecated" false) | first 5) }}
                    <li><a href="{{ .Permalink }}">{{ .Title }}</a> - {{ .Params.Description }}</li>
                    {{- end }}
                </ul>
            </nav>
            {{ with ref . "projects" }}<p>You can find a full list <a href='{{ . }}'>here</a>.</p>{{ end }}
        </section>
	<hr/>
        {{ end }}

        {{- if ( where .Site.RegularPages.ByTitle "Section" "recipes" ) }}
        {{ "<!-- Recipes -->" | safeHTML }}
        <section>
            <h2>Recipes</h2>
            <nav>
                <ul>
                    {{- range (where .Site.RegularPages "Section" "recipes" | first 5) }}
                    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                    {{- end }}
                </ul>
            </nav>
            {{ with ref . "recipes" }}<p>You can find a full collection of these recipes <a href='{{ . }}'>here</a>.</p>{{ end }}
        </section>
        {{ end }}
{{ end }}
